# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Kalle\Google Drive\Programmering\Java\NackademinJava\02. Objektorienterad programmering och Java\Sprint 5 - Grupparbete\QuizKampen\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
